.login-wrapper{
  text-align: -webkit-center;
} 
.container{
  display: flex;
  margin-top: 15vh;
  place-content: center;
  width: 30vw;
  height: 85vh;
}
.login_form{
  text-align: initial;
}
.container-h1{

text-align: -webkit-center;
font-weight: 100;
}
.front_card-p-tag
{
  padding-left: 19px;
  margin-block-end: 2px;
  font-size: 18px;

}
.user_email{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  background-color: #FCF4F4;
  width: 27vw;
  height: 4vh;
  padding-left: 25px;
  font-size: 20px;
}
.password-input-div{
  background-color: #fcf4f4;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 40px;
  width: 27vw;
  height: 7.5vh;
  padding-left: 25px;
}
.user_password{
  border: none;
    background-color: #FCF4F4;
        height: 7vh;
    width: 23vw;
    font-size: 20px;
    border-radius: 20px;

}
.login_btn {
  padding: 13px 134px;
  border-radius: 39px;
  margin-top: 42px;
  background-color: #8D624C;
  color: #fff;
  font-size: 18px;
  border: none;
  margin-top: 38px 0 0 0;
  width: 29vw;
  height: 9vh;
}
.Register-p-tag{
  font-size: 18.5px;
  text-align-last: center;


}
.registeration-link{
  color: #8D624C;
}

.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 45px auto;
  text-align: center;
  font-weight: 100;

}

.hr-lines:before{
  background: #9b8f8f;
  content: " ";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 120px;
  left: 30px;

}

.hr-lines:after{
  content:" ";
  height: 2px;
  width: 130px;
  background: #8D624C;
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
}
.forgetpasword-link{
  color: #8d624c;
  display: flex;
  justify-content: end;
  font-size: 18px;
  margin-top: 17px;

}

input:focus {
  outline: none;
}



