@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:ital,wght@0,100;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:wght@300&family=Poppins:ital,wght@0,100;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.hero-section-header-tag {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-family: Manrope,sans-serif;
    font-size: 3vw;
    line-height: 1em;
    margin-block-end: 0;
    text-align: initial;
    margin-block-start: 0;
    max-width: 30vw;
}
.hero-section-p-tag {
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    max-width: 26vw;
    padding-top: 4%;
 padding-top: 6%;
}
.wrapper {
    height: 85vh;
    width: 100%;
    margin-top: 15vh;
    text-align: -webkit-center;
}

.hero-flex-section{
    display: flex;
  width: 90%;
}
.first-container {
    padding-top: 4%;
    width: 53%;
    text-align: initial;
}
.second-container {
    position: relative;
    width: 47%;
}

.BackgroundGroup-img1 {
    height: auto;
    /* margin-top: 2%; */
    position: absolute;
    width: 46%;
}
.BackgroundGroup-img2 {
    padding-left: 7vw;
    padding-top: 9vh;
    width: 73%;
}



/* 
.search-btn {
    float: right;
    height: 48px;
    width: 83px;
    margin-left: 11px;
    background-color: #8d624c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #8d624c;
} */
.search-img {
    width: 2vw;
}

.search-txt {
    border: none;
    border-radius: inherit;
    flex: 1 1;
    font-size: 22px;
    padding: 10px 13px;
}

.search-btn {
    align-items: center;
    background-color: #8d624c;
    border: 2px solid #8d624c;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-size: 25px;
    height: 10vh;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
}

.slidebtn {
    background: #8d624c33;
    border: 0.5px solid #8d624c33;
    border-radius: 29px;
    color: #000;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: space-between;
    margin: 3px 13px 11px 0;
    padding: 5px 15px;
    text-decoration: none;
}
.search {
    --tw-shadow: 4px 4px 27px 0px #0000003f;
    border: 1px solid #aea6a6;
    border-radius: 37px;
    border-radius: 50px;
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    display: flex;
    flex: 1 1;
    margin-top: 11%;
    padding: 10px 5px 3px 24px;
    width: 34vw;
}
.messages-global-div{
    position: fixed;
    top: 438px;
    left: 985px;
}


.non-slider-section{
    display: flex;
    margin-bottom: 30px;
    margin-top: 60px;
    padding-right: 25px;
    padding-left: 25px;
}
.non-slider-text-section {
    width: 13%;
}
.non-slider-text-section p{
    font-size: 20px;
}

.non-slider-images-section {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.non-slider-images-tag {
    object-fit: none;
}

/* last section */

.last-landingpage-section{
    padding-top: 20px;
}

.first-column-last-section {
    text-align: center;
}
.first-column-last-section h3{
    font-size: 30px;
    font-weight: 600;
    margin-block-start: 22px;
    margin-block-end: 15px;

}
.first-column-last-section p{
font-weight: 600;
}

.second-column-last-section{
    display: flex;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 15px;
    justify-content: space-around;
    padding-bottom: 15px;
}

.main-div-second-column{
    text-align: center;
}
.main-div-second-column p{
    font-weight: 600;
    font-size: 18px;
}
.messages-global-div {
    position: fixed;
    top: 438px;
    left: 1000px;
}
.messages-global-div img{
    width: 61%;

}