@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.second-herosection {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.Main-homepage-wrapper{
    
}

.first-image-container{
    height: auto;
    margin-left: 29%;
    width: 22%;
}
.first-homepage-container{
    position: relative;
}
.first-search {
    --tw-shadow: 8px 19px 32px 0px #0000003f;
    background: #fff;
    border: 1px solid #aea6a6;
    border-radius: 50px;
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    height: 37px;
    left: 54%;
    margin-top: 8%;
    padding: 10px 5px;
    position: absolute;
    top: 3%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 428px;
}
.first-image-container {
    height: auto;
    margin-left: 29%;
    width: 19%;
}
.form-search{
    margin-top: 0;
    position: absolute;
    bottom: 75px;
    width: 28vw;
    background-color: #fff;
    left: 35%;
    --tw-shadow: 4px 4px 27px 0px #0000003f;
    border: 1px solid #aea6a6;
    border-radius: 37px;
    border-radius: 50px;
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    display: flex;
    flex: 1 1;
    margin-top: 11%;
    padding: 3px 5px 3px 24px;
}
.third-carasol-section{
    width: 100%;
    height: 90vh;
    background-color: #FAFAFA;
}
.first-search-txt {
    border: none;
    background: none;
    outline: none;
    padding: -21px;
    font-size: 17px;
    transition: ease-in 0.4s;
    line-height: 0px;
    padding-top: 6px;
    padding-left: 24px;
    font-family: 'Open Sans', sans-serif;
}

.carasol-p-tag {
    -webkit-margin-before: 0;
    font-family: Roboto,sans-serif;
    font-size: 41px;
    font-weight: 500;
    margin-block-start: 0;
    margin-top: -14px;
    margin-bottom: 9px;
    text-align-last: center;
}


/* carasol */



.slick-slider-inner-container{
    position: relative;
}
.carasol-section {
    background-color: #fef7f7;
    /* padding-left: 31px; */
    /* padding-right: 5px; */
    width: 100%;
    height: 100vh;
}


.inner-container-img-div{

    width: 100%;
    text-align: -webkit-center;
    overflow: hidden;
    

}
.inner-container-img-div .slick-slider-img {
    height: 54vh;
    width: 15vw;
}
.img-radius{
  border-radius: 4%;
}

.inner-container-text-div {
    background: linear-gradient(rgba(0,0,0,.24),rgba(0,0,0,.18));
    border-radius: 3%;
    color: #fff;
    /* display: flex; */
    height: 54vh;
    left: 12%;
    position: absolute;
    /* text-align: initial; */
    top: 1px;
    width: 15vw;
}
.inner-container-text-div .slick-slider-p-tag{
margin-left: 17px;
}
.second-arrow{
    display: flex;
    justify-content: center;
}

.second-arrow img{
    margin-top: 17px;
    margin-bottom: 14px;
}
.Main-second-carasol-component {
    border: 2px solid #fffdfd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 35%);
    height: 52vh;
    width: 29vw!important;
}   

.inner-third-carasol-section {

    text-align: -webkit-center;
}
.inner-third-carasol-section .slick-track{
    margin-bottom: 15px;
    margin-top: 8px;
    margin-left: 7px;
}
.inner-Main-second-carasol-component {
    padding: 5vh 4vw;
    text-align: initial;

}

.first-inner-carasol-component{
    display: flex;
    width: 100%;    
    margin-bottom: 16px;
}
.first-inner-carasol-profile-section{
    width: 25%;
}
.profile-section-img{
   width: 92%;
height: auto;
}
.first-inner-carasol-textandstar-section{
width: 75%;
    padding-top: 7px;
    padding-left: 10px;
}
.inner-carasol-text-span{
font-size: 19px;
}
.inner-carasol-star-span img{
    margin-top: 5px;
}

.third-section-text {
    display: flex;
    margin-bottom: 28px;
    padding-top: 33px;
    place-content: center;
}

.third-section-text p {
    font-size: 26px;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 3px;
}
.inner-third-carasol-section .slick-slider > .slick-prev {
    left: 0;
}

.inner-third-carasol-section .slick-slider > .slick-next {
    right: -15px;
}


