.dropdown-menu {
  position: absolute;
  top: 64px;
  list-style: none;
  text-align: start;
  width: 145px;
  right: 41px;
}
  
  .dropdown-menu li {
    background: #7B411E;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #7B4131;
}
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }
  