.main-footer-section {
    background-color: #8d624c4d;
    padding: 2vh 2vw;
    height: 30vh;
}

.first-child-section{
    display: flex;
}
.logo-child-section{
    width: 20%;
}
.links-child-section{
    width: 40%;
}
.ul-links-section { 
column-count: 3;
list-style-type: none;
margin-block-end: 0;
padding-top: 15px;
}
.list-links-section{
    padding: 6px;
}
.a-tag-section {
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

.firstchild-last-section{
    width: 40%;
}

.firstchild-last-ul-section{
    display: flex;
    list-style-type: none;
    padding-top: 21px;

}
.a-tag-firstchild-last-section img{
    width: 90%;
}

.second-child-section{
    display: flex;
}
.second-child-text-section{
    width: 70%;
    text-align-last: center;
}
.p-tag-second-child-text-section{
    margin-block-start: 32px;
    /* display: flex; */
    padding-left: 214px;
    margin-block-end: 1em;
}
.span-tag-second-child-text-section{
    font-weight: 600;
}
.second-child-social-links-section{
    width: 30%;

}
.ul-child-social-links-section{
    display: flex;
    list-style-type: none;
    margin-block-end: 0;
    justify-content: space-evenly;
}


.a-tag-child-social-links-section img{
    width: 80%;

}



.message-component{
    position: fixed;
    bottom: 20px;
    right: 20px;
}