.reset-btn{
        padding: 13px 134px;
        border-radius: 39px;
        margin-top: 42px;
        background-color: #8D624C;
        color: #fff;
        font-size: 18px;
        border: none;
        margin-top: 13px;
        margin-bottom: 30px; 
        margin-left: 0;
        margin-right: 0;
}