.react-tel-input .flag-dropdown::before {
    content: "US";
    padding-left: 10px !important;
    padding-top: 13px !important;
    display: flex !important;
}
.react-tel-input .selected-flag .flag {
    position: absolute;
    top: 50%;
    margin-top: -12px !important;
    margin-left: 3px !important;
}
.react-tel-input .selected-flag .arrow {
    position: relative;
    top: 50% !important;
    margin-top: -21px !important;
    left: 20px !important;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}
.react-tel-input .selected-flag {
    outline: none;
    position: relative;
    width: 38px;
    height: 100%;
    padding: 0 0 0 8px;
    border-radius: 33px;
}
.react-tel-input .flag {
    width: 0 !important;
    height: 0 !important;
    background-image: none !important;
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
    background-color: transparent !important;
}
.react-tel-input {
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    position: relative;
    width: 100%;
    padding: 0px 8px !important;
}
.react-tel-input .form-control {
    position: relative !important;
    font-size: 14px !important;
    letter-spacing: .01rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 45px !important;
    margin-left: 0;
    background: #FCF4F4 !important;
    border: 1px solid #CACACA !important;
    border-radius: 33px !important;
    line-height: 25px !important;
    height: 45px !important;
    width: 307px !important;
    outline: none !important;
}
.react-tel-input .flag-dropdown {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    padding: 0 !important;
    background-color: #FCF4F4 !important;
    border-radius: 33px !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: transparent !important;
    border-radius: 3px 0 0 0 !important;
}
.password-input-div2 {
    padding: 11px 36px;
    padding-right: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 23px;
    background-color: #FCF4F4;
    margin: 3px;
}
.signup_form{
    display: flex;

}

.spantermandcondition{
    color: #8D624C;
}
.agree-div{ 
    display: flex;
    place-content: center;
    margin-top: 23px;
}
.signup{
    margin-left: 157px;
}
.container-signup{
    display: flex;
    margin-top: 57px;
    place-content: center;
}